ipykernel
python-dotenv
pydantic
huggingface_hub
nbformat

# llm
openai
langchain
langgraph
langchain_openai
langchain_community
langchain-tavily
langchain_qdrant
sentence-transformers

# evaluation
ragas
rapidfuzz

# db
qdrant-client
fastembed

# web framework
django
djangorestframework

# PostgreSQL 드라이버 (RDS 연결용)
psycopg2-binary==2.9.9

# view (legacy)
flask